.hero {
	position: relative;
}

.illustration {
	/* position: fixed;
    left: 55%; */
	position: absolute;
	right: 0;
	max-width: calc(100% - 68.2rem);
	overflow-x: hidden;
}

.content {
	max-width: 111rem;
	margin: 0 auto;
}

.text {
	width: 50%;
}

.text h1 {
	font-size: 7.5rem;
	font-weight: var(--fontBold);
	line-height: 1.1;
	color: var(--veryDarkBlue);
	padding-top: 7.9rem;
	margin-bottom: 0;
}

.text p {
	margin-top: 2.7rem;
	font-weight: var(--fontRegular);
	color: var(--gray);
	margin-bottom: 4rem;
	max-width: 80%;
}

.button {
	color: #fff;
	background-color: var(--cyan);
	padding: 1.2rem 2.6rem;
	border-radius: 50px;
	transition: all 0.3s;
}

.button:hover {
	color: #fff;
	background-color: #9ae3e2;
}

@media screen and (min-width: 1240px) {
	.illustration {
		right: 0;
		left: 55%;
	}
}

@media screen and (max-width: 1222px) {
	.content {
		max-width: 90rem;
	}
}

@media screen and (max-width: 1024px) {
	.content {
		max-width: 100%;
		padding: 0 3rem;
	}

	.illustration {
		position: unset;
		max-width: 100vw;
		overflow-x: hidden;
		padding: 0 3rem;
	}

	.illustration img {
		display: block;
		margin: auto;
		width: 100%;
	}

	.text {
		width: 100%;
		text-align: center;
	}

	.text h1 {
		padding: 0;
		font-size: 5.5rem;
	}

	.text p {
		max-width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.illustration img {
		width: 150%;
	}

	.text h1 {
		font-size: 4.5rem;
	}
}
